<!DOCTYPE html>
<html lang="ru">
<head>
    <script src="todo.js"></script>
    <link
            rel="stylesheet"
            href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
    />
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <meta charset="UTF-8">
  {{>style}}
  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Festive&family=Open+Sans&display=swap" rel="stylesheet">

    <title>Аликин Никита Романович M33122</title>
</head>
<body>
{{>header}}
<div class="intro"></div>>



    <main>
    <section class="achievemets">
        <div class="container">
            <h3 class="title">Достижения</h3>
        <ul class="achieve-list">
            <li> Всегда прав</li>
            <li> Чемпион Хабаровска по всему</li>
            <li> Мой одногруппник кремлебот</li>
            <li> Ну и так в целом неплохой парень</li>
        </ul>
    <section class="achievemets-info">
        <dl>
            <dt> Всегда прав</dt>
            <dd> Друзья говорят я всегда прав( второй Конфуций)</dd>

            <dt> Чемпион Хабаровска</dt>
            <dd> Хорош во всем, я не виноват</dd>

            <dt> Мой одногруппник кремлебот</dt>
            <dd> В Кремле не научились писать ботов, поэтому вербуют живых</dd>
        </dl>
    </section>
        </div>
    </section>
    <div class="Image">
    </div>
    <div class="historicalfact">
        <div class="container">
            <section id="history">
                <h3 class="title">
        <p>
            Исторический факт
        </p>
                </h3>
        <aside>
            <p>
                Автор данного сайта родился
                <time datetime="2002-01-14"><strong>14 января 2002 года</strong></time>
            </p>
        </aside>
            </section>
    </div>
    </div>
    <section  class="mascot">
        <div class="container">
        <h3 class="title"> Талисман</h3>
           <pre>
        ⡴⠑⡄⠀⠀⠀⠀⠀⠀⠀⣀⣀⣤⣤⣤⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
        ⠸⡇⠀⠿⡀⠀⠀⠀⣀⡴⢿⣿⣿⣿⣿⣿⣿⣿⣷⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⠑⢄⣠⠾⠁⣀⣄⡈⠙⣿⣿⣿⣿⣿⣿⣿⣿⣆⠀⠀⠀⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⢀⡀⠁⠀⠀⠈⠙⠛⠂⠈⣿⣿⣿⣿⣿⠿⡿⢿⣆⠀⠀⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⢀⡾⣁⣀⠀⠴⠂⠙⣗⡀⠀⢻⣿⣿⠭⢤⣴⣦⣤⣹⠀⠀⠀⢀⢴⣶⣆⠀
        ⠀⠀⢀⣾⣿⣿⣿⣷⣮⣽⣾⣿⣥⣴⣿⣿⡿⢂⠔⢚⡿⢿⣿⣦⣴⣾⠁⠸⣼⡿⠀
        ⠀⢀⡞⠁⠙⠻⠿⠟⠉⠀⠛⢹⣿⣿⣿⣿⣿⣌⢤⣼⣿⣾⣿⡟⠉⠀⠀⠀⠀⠀⠀
        ⠀⣾⣷⣶⠇⠀⠀⣤⣄⣀⡀⠈⠻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀
        ⠀⠉⠈⠉⠀⠀⢦⡈⢻⣿⣿⣿⣶⣶⣶⣶⣤⣽⡹⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⠀⠀⠀⠉⠲⣽⡻⢿⣿⣿⣿⣿⣿⣿⣷⣜⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⣷⣶⣮⣭⣽⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⠀⠀⣀⣀⣈⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠇⠀⠀⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⠀⠀⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠃⠀⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⠀⠀⠀⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀ ⠀⠀⠀⠀⠀⠀⠀
        ⠉⠛⠻⠿⠿⠿⠿⠛⠉
    </pre>
    </div>
    </section>
    <section class="gallery">
        <div class="container">
            <h2> Fun Gallery </h2>
            <p class="gallery-item">
                <img src="img/gallery_item_1.jpeg" width="320" alt="">
                <img src="img/gallery_item_1.jpeg" alt="">
                <img src="img/gallery_item_1.jpeg" alt="">
            </p>
        </div>
    </section>
    <div class="Code">
        <div class="container">



                <h3 class="title"> Пример кода</h3>
        <pre>
    int l = 0;
    int r = n;
    int mid;

    while (l < r) {
    mid = (l + r) / 2;

    if (arr[mid] > key) r = mid;
    else l = mid + 1;
    }

    r--;

    if (arr[r] == key) cout << "Индекс элемента " << key << " в массиве равен: " << r;
    else cout << "Извините, но такого элемента в массиве нет";
     </pre>
    </div>
        <div class="container">

                <div class="fullinfo" id="ToDoList">
                    <form action="#">
                        <input type="text" name="item" id="item" placeholder="I want to..." />
                        <input type="button" class="addBtn" value="Add" />
                    </form>
                    <ul id="myUL"></ul>
                    <script src="todo.js"></script>
                </div>

        </div>
            <di class="table">
                <div class="grid">
                    <div class="box">Имя</div>
                    <div class="box">Количество часов</div>
                    <div class="box">Дисциплина</div>
                    <div class="box">Ранг</div>
                    <div class="box">Тимофей</div>
                    <div class="box">2000</div>
                    <div class="box">Дота</div>
                    <div class="box">Полубог</div>
                    <div class="box">Никита</div>
                    <div class="box">3000</div>
                    <div class="box">Дота</div>
                    <div class="box">Полубог </div>
                    <div class="box">Миша</div>
                    <div class="box">5000</div>
                    <div class="box">Кс</div>
                    <div class="box">Бог</div>
                    <div class="box">Дима</div>
                    <div class="box">400</div>
                    <div class="box">Кс</div>
                    <div class="box">Жарит банан</div>
                </div>
                <script src="src/scripts/lab6.js"></script>
                <section id="quote">
    <blockquote class="quote">
        <h2 class="quotetitle">Цитата</h2>
        <q>Есть решения, которые отрезают путь назад. Их непременно надо принимать.</q>
        <cite>
            Ф.Кафка
        </cite>
    </blockquote>
    </section>
<!--                <div class="block">-->
<!--                    <div class="container">-->
<!--                     <div class="block-slide">-->
<!--                        <div class="block-body">-->
<!--                            <div class="image-slider swiper">-->
<!--                                <div class="swiper-wrapper">-->
<!--                                    <div class="swiper-slide">-->
<!--                                        <div class="swiper-slide-img">-->
<!--                                            <img src="img/slider-item1.jpeg" alt="Пикча1">-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="swiper-slide">-->
<!--                                        <div class="swiper-slide-img">-->
<!--                                            <img src="img/slider-item1.jpeg" alt="Пикча1">-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="swiper-slide">-->
<!--                                        <div class="swiper-slide-img">-->
<!--                                            <img src="img/slider-item1.jpeg" alt="Пикча1">-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="swiper-pagination"></div>-->
<!--                                <div class="swiper-button-prev"></div>-->
<!--                                <div class="swiper-button-next"></div>-->
<!--                                <div class="swiper-scrollbar"></div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                </div>-->
                <!-- Slider main container -->
                <div class="swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide"><img src="img/slider-item1.jpeg" alt=""></div>
                        <div class="swiper-slide"><img src="img/slider-item4.jpeg" alt=""></div>
                        <div class="swiper-slide"><img src="img/slider-item3.jpeg" alt=""></div>
                        ...
                    </div>
                    <!-- If we need pagination -->

                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>

                    <!-- If we need scrollbar -->

                </div>

</main>
{{>footer}}
    <script src="script.js"></script>
    <script src="mswiper.js"></script>
</body>
</html>